{% extends 'base.html' %}

{% block content %}
<h1>My Cutting Boards</h1>
{% for cutting_board in cutting_boards %}
  <div class="cutting-board">
    <h3>{{ cutting_board.title }}</h3>
    <p>{{ cutting_board.description }}</p>
    <a href="{% url 'cb-detail' cutting_board.id %}">View Recipes</a>
    <ul>
      {% for recipe in cutting_board.recipes.all %}
        <li><a href="{% url 'recipe-detail' recipe.id %}">{{ recipe.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}

{% endblock %}
