<!-- navbar.html -->
<nav>
  <div class="nav-wrapper">
    <!-- Dropdown menu items -->
    <ul class="nav-links">
      <li>
        <a href="{% url 'home' %}" class="left btn-flat">Home</a>
      </li>
      <li>
        <a href="{% url 'recipe-create' %}" class="btn-flat">Add Recipe</a>
      </li>
      <li>
        <a href="{% url 'meettheteam' %}" class="left btn-flat">About Us</a>
      </li>
      <div class="login-wrapper">
        <li>
          {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="auth-links">Logout</a>
          {% else %}
            <a href="{% url 'account_login' %}" class="auth-links">Login</a>
          {% endif %}
        </li>
      </div>
    </ul>
  </div>
</nav>
